.circle-button {
    -fx-background-radius: 50%;     /* makes it round */
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-background-color: gray;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-alignment: center;
}

.circle-button:pressed {
    -fx-background-color: gray;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 3 6 3 6;
    -fx-font-size: 12;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-text-fill: black;
    -fx-alignment: center;
}